<div class="page-wrapper">
  <div class="center-box">

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @profile.name %>
    </p>

    <p>
      <strong>Avatar:</strong>
      <%= image_tag @profile.avatar, class: 'img-responsive' %>
    </p>

    <p>
      <strong>Prefered region:</strong>
      <%= @profile.region.region %>
    </p>

    <p>
      <strong>Preferred platform:</strong>
      <%= @profile.platform.platform %>
    </p>

    <% if current_user.id != @profile.id %>
        <%= link_to "Message #{@profile.user.email}", conversations_path(sender_id: current_user.id, recipient_id: @profile.user.id), :class => "btn btn-info btn-sm", method: 'post'%> |
      <% else %>
        <%= link_to "Your Mailbox", conversations_path, :class => "btn btn-info" %>
        <%= link_to 'Edit', edit_profile_path(@profile), :class => "btn btn-info" %> |
    <% end %>

    <%= link_to 'Back', profiles_path, :class => "btn btn-info" %>
  </div>
</div>
