<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @profile.avatar, class: 'img-responsive' %>
</p>

<p>
  <strong>Prefered region:</strong>
  <%= @profile.region.region %>
</p>

<p>
  <strong>Preferred platform:</strong>
  <%= @profile.platform.platform %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
