<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @profile.avatar %>
</p>

<p>
  <strong>Prefered region:</strong>
  <%= @profile.region_id %>
</p>

<p>
  <strong>Preferred platform:</strong>
  <%= @profile.platform_id %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
