<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Beacon', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="link-item"><%= link_to 'Flares', flares_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'New Flare', new_flare_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="link-item"><%= link_to current_user.profile.display_name, profile_path(current_user) %></li>
          <% if current_user.profile.pro != true %>
            <li class="link-item"><%= link_to 'Go Pro!', new_charge_path %></li>
          <% else %>
            <li class="link-item">Pro User</li>
          <% end %>
          <li class="link-item"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        <% else %>
          <li class="link-item"><%= link_to 'Login', new_user_session_path %></li>
          <li class="link-item"><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
