
<%= form_with url: flares_path, method: :get, local: true do |form| %>

  <div class="field">
    <%= form.label :region_id %>
    <%= form.select :region_id, options_for_select(regions), {prompt: "Select Region"} %>
  </div>

  <div class="field">
    <%= form.label :platform_id %>
    <%= form.select :platform_id, options_for_select(platforms), {prompt: "Select Platform"} %>
  </div>

  <%= form.submit 'Respond!' %>
<% end %>
