<div class="page-wrapper">
  <div class="center-box">
    <p id="notice"><%= notice %></p>
    <h2><%= @flare.user.profile.display_name %> needs your help!</h2>

    <p>
      <strong>Region:</strong>
      <%= @flare.region.region %>
    </p>

    <p>
      <strong>Platform:</strong>
      <%= @flare.platform.platform %>
    </p>

    <p>
      <strong>Game:</strong>
      <%= @flare.game %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @flare.description %>
    </p>

    <%= link_to 'Edit', edit_flare_path(@flare) %> |
    <%= link_to 'Back', flares_path %>
  </div>
</div>
